@model E_Commerce.Models.UserModel
@{
    ViewData["Title"] = "LOGIN - ";
}

<div class="login-container container-fluid d-flex justify-content-center align-items-center rounded-3 w-100">
    <div class="row w-75">
        <div class="col-md-7 col-lg-6 p-0 border d-flex justify-content-end">
            <img src="/css//img/LOGO.png" alt="GetYerFoodLogo" class="img-fluid login-logo" style="width:100%;max-height: 25rem;">
        </div>
        <div class="wrap-login col-12 col-md-5 p-0 d-flex justify-content-start">
            <form asp-action="ProcessLogin" method="post" class="form-login bg-light rounded-3 border w-100 h-auto p-2 ms-n3">
                <div class="d-flex justify-content-center">
                    <h1 class="fs-2 fw-bolder text-warning">LOGIN</h1>
                </div><hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3 justify-content-center">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <div class="form-floating w-75">
                        <input type="email" asp-for="Email" class="form-control" id="floatinginputgroup1" placeholder="EMAIL">
                        <label asp-for="Email" for="floatinginputgroup1">EMAIL</label>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-group mb-3 justify-content-center">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <div class="form-floating w-75">
                        <input type="password" asp-for="Password" class="form-control" id="floatinginputgroup2" placeholder="PASSWORD">
                        <label asp-for="Password" for="floatinginputgroup2">PASSWORD</label>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="container d-flex flex-row ps-5">
                    <p>Don't have an Account?</p>
                    <a asp-controller="Account" asp-action="Register">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center pb-3">
                    <button type="submit" class="btn btn-warning fw-bold w-75">ENTER</button>
                </div>
            </form>
        </div>
    </div>
</div>